<section class="hero-">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">All about chocolate</h1>
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-button">
        <button class="hero-button-by" type="button" data-modal="buynow">
          By now
        </button>
        <a href="#made" class="hero-button-made">How it’s made</a>
        <a href="#footer" class="hero-button-scroll"
          >Scroll down
          <span class="scrol">
            <svg class="svg-scroll" width="22" height="22">
              <use href="./img/icons.svg#icon-scroll"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
