
<section class="hero-">
    <div class="container">
        <h1 class="visually-hidden">All about chocolate</h1>
        <h2 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-button">
        <button class="hero-button-by" type="button">By now</button>
        <a href="#" class="hero-button-made" type="button">How it’s made</a>
        <a href="#" class="hero-button-scroll" type="button">
            Scroll down
            <span class="scrol">
            <svg class="svg-scroll" width="15" height="10">
            <use  href="../img/icons.svg#icon-scroll"></use>
        </svg>
        </span>
        </a>
        </div>
    </div>
</section>