<div class="leaverev-backdrop is-hidden" id="leaverev">
  <div class="leaverev-modal">
    <button type="button" class="leaverev-modal-close-btn">
      <svg class="leaverev-modal-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="leaverev-title">
      leave a review <br />about<span class="leaverev-title-span">
        our chocolate</span
      >
    </p>
    <form class="leaverev-modal-form">
      <div class="modal-input">
        <input
          type="text"
          name="name"
          id="name"
          class="modal-form-input"
          placeholder="Name"
        />
      </div>
      <div class="modal-input">
        <input
          type="email"
          name="email"
          id="email"
          class="modal-form-input"
          placeholder="Enter your email"
        />
      </div>
    </form>
  </div>
</div>
