<!--Modal buynow-->
<div class="backdrop-modal is-hidden" id="buynow">
  <div class="modal-wrap">
    <div class="buynow-modal">
      <button type="button" class="buynow-modal-close" data-modal="buynow">
        <svg class="buynow-modal-close-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="section-name buynow-title">
        Buy <span class="section-name-accent">now</span>
      </h2>
      <ul class="buynow-img-list">
        <li class="buynow-img-item">
          <picture>
            <source
              srcset="
                ./img/buy-now/mobile/dark-1x.png 1x,
                ./img/buy-now/mobile/dark-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/buy-now/desktop-tablet/dark-1x.png 1x,
                ./img/buy-now/desktop-tablet/dark-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="buy-now-img"
              src="./img/buy-now/mobile/dark-1x.png"
              alt="two pieces of dark chocolate with dark chocolate chips"
              width="84"
            />
          </picture>
          <div class="buynow-weight">100 g</div>
        </li>
        <li class="buynow-img-item">
          <picture>
            <source
              srcset="
                ./img/buy-now/mobile/pyramid-1x.png 1x,
                ./img/buy-now/mobile/pyramid-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/buy-now/desktop-tablet/pyramid-1x.png 1x,
                ./img/buy-now/desktop-tablet/pyramid-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="buy-now-img"
              src="./img/buy-now/mobile/pyramid-1x.png"
              alt="a pyramid of alternating five pieces of white and black chocolate with nuts"
              width="84"
            />
          </picture>
          <div class="buynow-weight">200 g</div>
        </li>
        <li class="buynow-img-item">
          <picture>
            <source
              srcset="
                ./img/buy-now/mobile/stick-1x.png 1x,
                ./img/buy-now/mobile/stick-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/buy-now/desktop-tablet/stick-1x.png 1x,
                ./img/buy-now/desktop-tablet/stick-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="buy-now-img"
              src="./img/buy-now/mobile/stick-1x.png"
              alt="bar of dark and milk chocolate, part of which has been rubbed into chocolate chips"
              width="84"
            />
          </picture>
          <div class="buynow-weight">300 g</div>
        </li>
      </ul>
      <form class="buynow-personal-data-form">
        <ul class="buynow-personal-list">
          <li class="buynow-personal-item">
            <label for="buynow-name" class="form-label"
              >Personal information</label
            >
            <ul class="buynow-personal-item-fullname">
              <li>
                <input
                  type="text"
                  class="form-input"
                  name="name"
                  id="buynow-name"
                  autofocus
                  required
                  placeholder="Name"
                />
              </li>
              <li>
                <input
                  type="text"
                  class="form-input"
                  name="surname"
                  id="buynow-urname"
                  required
                  placeholder="Surname"
                />
              </li>
            </ul>
          </li>
          <li class="buynow-personal-item">
            <label for="buynow-mail" class="form-label"
              >Email</label
            >
            <input
              type="email"
              class="form-input"
              name="mail"
              id="buynow-mail"
              required
              placeholder="Enter your email"
            />
          </li>
          <li class="buynow-personal-item">
            <label for="buynow-tel" class="form-label"
              >Phone number</label
            >
            <div class="form-input-container">
              <input
                type="text"
                class="form-input tel"
                name="tel"
                id="buynow-tel"
                pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
                required
                placeholder="Phone number"
              />
              <div class="form-tel-container">
                <svg class="form-icon-flag" width="24" height="24">
                  <use href="./img/icon-svg-color.svg#icon-flag"></use>
                </svg>
                <span class="form-tel-ukr">+380</span>
              </div>
            </div>
          </li>
          <li class="buynow-personal-item">
            <label for="buynow-card-number" class="form-label"
              >Card number</label
            >
            <div class="form-input-container">
              <input
                type="number"
                class="form-input mastercard"
                name="card-number"
                id="buynow-card-number"
                placeholder="Enter card"
                required
              />
              <svg class="form-icon-mastercard" width="32" height="21">
                <use href="./img/icon-svg-color.svg#icon-mastercard"></use>
              </svg>
            </div>
          </li>
          <li class="buynow-personal-item">
            <label for="buynow-comment" class="form-label"
              >Comment</label
            >
            <textarea
              name="comment"
              class="form-input comment"
              id="buynow-comment"
              rows="3"
              placeholder="Enter text"
            ></textarea>
          </li>
          <li class="buynow-personal-item">
            <button type="submit" class="btn form-submit">Submit</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
