<section class="production" id="our-products">
  <div class="container">
    <h2 class="section-name">
      Our <span class="section-name-accent">products</span>
    </h2>

    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/orange-dark-1x.jpg 1x,
              ./img/our-products/orange-dark-2x.jpg 2x
            "
            src="./img/our-products/orange-dark-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">ORANGE</h3>
            <p class="production-description">Dark chocolate</p>
            <div class="production-price">45 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/apple-cranbarry-milk-1x.jpg 1x,
              ./img/our-products/apple-cranbarry-milk-2x.jpg 2x
            "
            src="./img/our-products/apple-cranbarry-milk-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">APPLE&CRANBERRY</h3>
            <p class="production-description">Milk chocolate</p>
            <div class="production-price">50 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/lime-solt-dark-1x.jpg 1x,
              ./img/our-products/lime-solt-dark-2x.jpg 2x
            "
            src="./img/our-products/lime-solt-dark-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">lIME&SEA SALT</h3>
            <p class="production-description">Dark chocolate</p>
            <div class="production-price">66 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/pineapple-dark-1x.jpg 1x,
              ./img/our-products/pineapple-dark-2x.jpg 2x
            "
            src="./img/our-products/pineapple-dark-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">PINEAPPLE</h3>
            <p class="production-description">Dark chocolate</p>
            <div class="production-price">54 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/classic-milk-1x.jpg 1x,
              ./img/our-products/classic-milk-2x.jpg 2x
            "
            src="./img/our-products/classic-milk-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">CLASSIC</h3>
            <p class="production-description">Milk chocolate</p>
            <div class="production-price">45 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/honey-milk-1x.jpg 1x,
              ./img/our-products/honey-milk-2x.jpg 2x
            "
            src="./img/our-products/honey-milk-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">HONEY</h3>
            <p class="production-description">Milk chocolate</p>
            <div class="production-price">50 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/roasted-dark-1x.jpg 1x,
              ./img/our-products/roasted-dark-2x.jpg 2x
            "
            src="./img/our-products/roasted-dark-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">ROASTED FRUITS</h3>
            <p class="production-description">Dark chocolate</p>
            <div class="production-price">66 UAH</div>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper-img"
            srcset="
              ./img/our-products/classic-white-1x.jpg 1x,
              ./img/our-products/classic-white-2x.jpg 2x
            "
            src="./img/our-products/classic-white-1x.jpg"
            alt="chocolate milk bar with pieces of apple cranberry"
          />
          <div class="production-item">
            <h3 class="production-title-item">CLASSIC</h3>
            <p class="production-description">White chocolate</p>
            <div class="production-price">54 UAH</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
