<section id="reviews" class="review-">
  <div class="container">
    <h2 class="section-name">
      <span class="section-name-accent">Chocolate</span> is loved
    </h2>
    <div class="review-slidebar">
      <div class="review-slidebar-wrapper">
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/victoria-dobrzhanska-1x.jpg 1x,
                ./img/reviews/victoria-dobrzhanska-2x.jpg 2x
              "
              src="./img/reviews/victoria-dobrzhanska-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Victoria Dobrzhanska</p>
          <p class="review-card-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/nazar-babenko-1x.jpg 1x,
                ./img/reviews/nazar-babenko-2x.jpg 2x
              "
              src="./img/reviews/nazar-babenko-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Nazar Babenko</p>
          <p class="review-card-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/olena-kampusch-1x.jpg 1x,
                ./img/reviews/olena-kampusch-2x.jpg 2x
              "
              src="./img/reviews/olena-kampusch-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Olena Kampusch</p>
          <p class="review-card-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/natalia-sus-1x.jpg 1x,
                ./img/reviews/natalia-sus-2x.jpg 2x
              "
              src="./img/reviews/natalia-sus-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Natalia Sus</p>
          <p class="review-card-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/danilo-nottingham-1x.jpg 1x,
                ./img/reviews/danilo-nottingham-2x.jpg 2x
              "
              src="./img/reviews/danilo-nottingham-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Danilo Nottingham</p>
          <p class="review-card-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
        <div class="review-card">
          <div class="review-card-img-tumb">
            <img
              srcset="
                ./img/reviews/irina-tydnyuk-1x.jpg 1x,
                ./img/reviews/irina-tydnyuk-2x.jpg 2x
              "
              src="./img/reviews/irina-tydnyuk-1x.jpg"
              alt="Reviewer photo"
              width="80"
            />
          </div>
          <p class="review-card-name">Irina Tydnyuk</p>
          <p class="review-card-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </div>
      <div class="review-slidebar-status">
        <span class="review-slidebar-status-point review-ssp-active"></span
        ><span class="review-slidebar-status-point"></span
        ><span class="review-slidebar-status-point"></span
        ><span class="review-slidebar-status-point"></span
        ><span class="review-slidebar-status-point"></span
        ><span class="review-slidebar-status-point"></span>
      </div>
      <button type="button" class="review-prev" style="display: none">
        <svg class="review-prev-icon" width="22" height="22">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button type="button" class="review-next">
        <svg class="review-next-icon" width="22" height="22">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="review-button">Leave a review</button>
  </div>
</section>
