<!-- Subscribe class="sub-" -->
<section class="sub-section">
    <div class="sub-container">
        <h1 class="sub-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
        <p class="sub-desc">From the velvety texture to the rich and complex flavor, 
            our New Chocolate is a true indulgence that will leave you craving more. 
            Made with only the finest ingredients and handcrafted with the utmost care, 
            each piece is a work of art that is sure to please.
        </p>
        <button class="sub-button" type="button">Subscribe</button>
    </div>
</section>