<section class="sel-section">
  <div class="container">
    <h2 class="section-name">
      <span class="section-name-accent">Top</span> sellers
    </h2>
    <ul class="sel-list">
      <li class="sel-paragraph-el">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/nuts-1x.jpg 1x,
              ./img/top-sellers/desktop/nuts-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/nuts-1x.jpg 1x,
              ./img/top-sellers/tablet/nuts-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/nuts-1x.jpg 1x,
              ./img/top-sellers/mobile/nuts-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/top-sellers/desktop/nuts-1x.jpg"
            class="sel-img"
            alt="nuts"
            width="368"
            height="464"
          />
        </picture>

        <p class="sel-p">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sel-button-el">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/caramel-1x.jpg 1x,
              ./img/top-sellers/desktop/caramel-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/caramel-1x.jpg 1x,
              ./img/top-sellers/tablet/caramel-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/caramel-1x.jpg 1x,
              ./img/top-sellers/mobile/caramel-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/top-sellers/desktop/caramel-1x.jpg"
            class="sel-img"
            alt="caramel"
            width="368"
            height="464"
          />
        </picture>
        <button class="btn sel-button" type="button" data-modal="buynow">
          Buy now
        </button>
      </li>
      <li class="sel-pyramid-el">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/pyramid-1x.jpg 1x,
              ./img/top-sellers/desktop/pyramid-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/pyramid-1x.jpg 1x,
              ./img/top-sellers/tablet/pyramid-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/pyramid-1x.jpg 1x,
              ./img/top-sellers/mobile/pyramid-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/top-sellers/desktop/pyramid-1x.jpg"
            class="sel-img"
            alt="pyramid"
            width="368"
            height="464"
          />
        </picture>
      </li>
    </ul>
    <ul class="sel-button-desktop">
      <li>
        <p class="sel-p">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li>
        <button class="btn sel-button" type="button" data-modal="buynow">
          Buy now
        </button>
      </li>
    </ul>
  </div>
</section>
