<section class="comp-unique">
  <div class="container">
    <div class="comp-features">
      <h2 class="section-name">
        It all adds up to one exceptional
        <span class="comp-accent"> taste</span> sensation
      </h2>
      <p class="comp-subtitle">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="comp-ingredients">
      <li class="comp-item">
        <div class="comp-thumb">
          <picture>
            <source
              srcset="
                ./img/unique-components/desktop/milk-chocolate-1x.png 1x,
                ./img/unique-components/desktop/milk-chocolate-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/unique-components/tablet-mobile/milk-chocolate-1x.png 1x,
                ./img/unique-components/tablet-mobile/milk-chocolate-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/unique-components/tablet-mobile/milk-chocolate-1x.png"
              class="comp-img"
              width="224"
              height="171" alt="piece of chocolate"
            />
          </picture>
          <h3 class="comp-thumb-title">milk chokolate</h3>
          <div class="comp-overlay">
            <h4 class="comp-overlay-title">milk chokolate</h4>
            <p class="comp-overlay-ingredient">
              <span class="comp-overlay-product">chocolate</span>
              <span class="comp-overlay-benefits">the benefits</span>
            </p>
            <p class="comp-overlay-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <li class="comp-item">
        <div class="comp-thumb">
          <picture>
            <source
              srcset="
                ./img/unique-components/desktop/milk-1x.png 1x,
                ./img/unique-components/desktop/milk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/unique-components/tablet-mobile/milk-1x.png 1x,
                ./img/unique-components/tablet-mobile/milk-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/unique-components/tablet-mobile/milk-1x.png"
              class="comp-img"
              width="224"
              height="171"
              alt="bottle of milk" 
            />
          </picture>
          <h3 class="comp-thumb-title">milk</h3>
          <div class="comp-overlay">
            <h4 class="comp-overlay-title">milk</h4>
            <p class="comp-overlay-ingredient">
              <span class="comp-overlay-product">milk</span>
              <span class="comp-overlay-benefits">the benefits</span>
            </p>
            <p class="comp-overlay-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="comp-item">
        <div class="comp-thumb">
          <picture>
            <source
              srcset="
                ./img/unique-components/desktop/nuts-1x.png 1x,
                ./img/unique-components/desktop/nuts-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/unique-components/tablet-mobile/nuts-1x.png 1x,
                ./img/unique-components/tablet-mobile/nuts-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/unique-components/tablet-mobile/nuts-1x.png"
              class="comp-img"
              width="224"
              height="171"
              alt="huzelnuts"
            />
          </picture>
          <h3 class="comp-thumb-title">nuts</h3>
          <div class="comp-overlay">
            <h4 class="comp-overlay-title">nuts</h4>
            <p class="comp-overlay-ingredient">
              <span class="comp-overlay-product">nuts</span>
              <span class="comp-overlay-benefits">the benefits</span>
            </p>
            <p class="comp-overlay-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </li>
      <li class="comp-item">
        <div class="comp-thumb">
          <picture>
            <source
              srcset="
                ./img/unique-components/desktop/semi-chocolate-1x.png 1x,
                ./img/unique-components/desktop/semi-chocolate-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/unique-components/tablet-mobile/semi-chocolate-1x.png 1x,
                ./img/unique-components/tablet-mobile/semi-chocolate-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/unique-components/tablet-mobile/semi-chocolate-1x.png"
              class="comp-img"
              width="224"
              height="171"
              alt="a chocolate pelets"
            />
          </picture>
          <h3 class="comp-thumb-title">semi-sweet chokolate</h3>
          <div class="comp-overlay">
            <h4 class="comp-overlay-title">semi-sweet chokolate</h4>
            <p class="comp-overlay-ingredient">
              <span class="comp-overlay-product"> sweet chocolate</span>
              <span class="comp-overlay-benefits">the benefits</span>
            </p>
            <p class="comp-overlay-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
