.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.adv-section {
  background-color: var(--dark-purple);
}

.adv-icon-container {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
}
