.hero- {
  padding-bottom: 72px;
}
.hero-container {
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark-purple);
  background-image: url('../img/hero/mobile/chocolate-mobile-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/hero/mobile/chocolate-mobile-2x.jpg');
  }
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 288px;
  color: var(--white);
}
.hero-button {
  max-width: 299px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 14px;
}
.hero-button-by {
  background-color: var(--orange);
  color: var(--white);
  border: none;
}
.hero-button-by:hover,
.hero-button-by:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}
.hero-button-made {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}
.hero-button-made:hover,
.hero-button-made:focus {
  /*background-color: rgb(255, 255, 255, 0.8);*/
  color: var(--orange);
  border-color: var(--orange);
}
.hero-button-scroll {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-weight: 500;
  color: var(--white);
  border: none;
  transition: color var(--basic-transition);
}
.svg-scroll {
  fill: var(--orange);
  transition: fill var(--basic-transition);
}
.scrol {
  display: flex;
  background-color: var(--white);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--basic-transition);
  flex-wrap: wrap;
  margin-left: 14px;
  justify-content: center;
  align-content: center;
}
.hero-button-scroll:hover,
.hero-button-scroll:focus {
  color: var(--orange);
}

.hero-button-scroll:hover .svg-scroll,
.hero-button-scroll:focus .svg-scroll {
  fill: var(--white);
}
.hero-button-scroll:hover .scrol,
.hero-button-scroll:focus .scrol {
  background-color: var(--orange);
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .hero- {
    padding-bottom: 50px;
  }
  .hero-container {
    padding-top: 671px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-image: url('../img/hero/tablet/chocolate-tablet-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/tablet/chocolate-tablet-2x.jpg');
    }
  }
  .hero-title {
    max-width: 454px;
    font-size: 28px;
  }

  .hero-button {
    max-width: 100%;
  }
  .hero-button-scroll {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero- {
    padding-bottom: 72px;
  }
  .hero-container {
    padding-top: 381px;
    background-image: url('../img/hero/desktop/chocolate-desktop-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/desktop/chocolate-desktop-2x.jpg');
    }
  }
}
