.exnew-modal {
  width: 311px;
  height: 350px;
  background-color: #fff;
  border-radius: 15px;
  transform: scale(1);
  opacity: 1;
  transition: transform var(--basic-transition) 0.1s,
    opacity var(--basic-transition) 0.1s;
  overflow: hidden;
  margin: auto;
}
.backdrop-modal.is-hidden .exnew-modal {
  transform: scale(0.9);
  opacity: 0;
}
.exnew-modal-close {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: transparent;
  top: 15px;
  right: 15px;
  border: 0;
  color: #fff;
}
.exnew-modal-close:active .exnew-modal-icon {
  stroke: var(--orange);
}

.exnew-modal-icon {
  stroke: currentColor;
  stroke-width: 2px;
  pointer-events: none;
  transition: stroke var(--basic-transition);
}

.exnew-modal-text {
  padding: 32px 24px;
  position: relative;
  background-color: var(--white);
}
.exnew-title {
  margin-bottom: 24px;
  text-align: left;
}

.exnew-form-input {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #000000;
  border-radius: 20px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  padding: 0 0 0 14px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--basic-transition);
}

.exnew-form-input:focus {
  border-color: var(--orange);
}
.exnew-form-input::placeholder {
  color: rgba(46, 47, 66, 0.2);
}

.exnew-modal-submit {
  font-family: inherit;
  width: 100px;
  height: 45px;
  background-color: var(--orange);
  color: #fff;
  border: none;
  position: absolute;
  right: 24px;
  bottom: 32px;
  padding: 0;
  transition: background-color var(--basic-transition),
    color var(--basic-transition);
}

.exnew-modal-submit:hover,
.exnew-modal-submit:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}
@media screen and (min-width: 768px) {
  .exnew-modal {
    width: 538px;
    height: 412px;
  }
  .exnew-modal-icon {
    stroke-width: 14px;
  }
  .exnew-title {
    max-width: 298px;
    margin-bottom: 28px;
  }
  .exnew-modal-text {
    padding: 40px;
    position: relative;
  }
  .exnew-modal-form {
    display: flex;
  }
  .exnew-form-input {
    font-size: 18px;
    width: 313px;
    height: 52px;
  }
  .exnew-form-input:hover,
  .exnew-form-input:focus {
    border-color: var(--orange);
  }

  .exnew-modal-submit {
    width: 137px;
    height: 52px;
    position: static;
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .exnew-modal-close:is(:hover, :focus) .exnew-modal-icon {
    stroke: var(--orange);
  }
}
