.leaverev-modal {
  position: relative;
  width: 311px;
  padding: 32px 24px;
  background: #fafafa;
  border-radius: 15px;
  transform: scale(1);
  opacity: 1;
  transition: transform var(--basic-transition) 0.1s,
    opacity var(--basic-transition) 0.1s;
  overflow: hidden;
  margin: auto;
}
.leaverev-modal.is-hidden .exnew-modal {
  transform: scale(0.9);
  opacity: 0;
}
.leaverev-modal-close-btn {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: transparent;
  top: 14px;
  right: 14px;
  border: 0;
  color: var(--black);
}
.leaverev-modal-icon {
  stroke: var(--black);
  stroke-width: 2px;
  pointer-events: none;
  transition: stroke var(--basic-transition);
}
.leaverev-modal-close-btn:active .leaverev-modal-icon {
  stroke: var(--orange);
}
.leaverev-title {
  text-align: left;
}
.leaverev-title-br {
  display: block;
}
.leaverev-modal-item:not(:last-child) {
  margin-bottom: 14px;
}
.leaverev-modal-item:nth-child(4) {
  margin-bottom: 18px;
}
.leaverev-modal-form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .leaverev-modal {
    width: 517px;
    padding: 40px;
  }
  .leaverev-title {
    width: 298px;
    margin-bottom: 40px;
  }
  .leaverev-title-br {
    display: inline;
  }
  .leaverev-modal-item:not(:last-child) {
    margin-bottom: 19px;
  }
  .leaverev-modal-close-btn {
    top: 24px;
    right: 24px;
  }
  .leaverev-modal-icon {
    width: 28px;
    height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .leaverev-modal-close-btn:is(:hover, :focus) .leaverev-modal-icon {
    stroke: var(--orange);
  }
}
