@media screen and (min-width: 375px) {
    .swiper {
            width: 335px;
            height: 364px;
        }
    
        .swiper-scrollbar {
            display: none;
        }
    
        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }
}