/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
  --black: #111111;
  --dark-purple: #1e1823;
  --orange: #fd9222;
  --white: #fafafa;
}
@import url('./fonts.css');
@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0;
  background-color: #e2e2e2;
  color: var(--black);
}
/*fonts*/
.section-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
/*container*/

.container {
  width: 100%;
  padding: 0 16px;
  background-color: var(--orange);
}

@media screen and (min-width: 375px) {
  .container {
    width: 367px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }
}
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal-buy-now.css');
@import url('./modal-leave-a-review.css');
@import url('./modal-explore-new.css');
