.comp-unique{
    background-color: var(--white);
}

.comp-title {
    font-size:20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom:24px;
}
.comp-subtitle {
    font-size:14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
}
.comp-accent{
    color: var(--orange)
}
.comp-features {
    margin-bottom: 32px;
}
.comp-ingredients{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.comp-item{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 270px;
   
    border-radius: 15px;
    padding: 28px;
       
}
.comp-item:first-child {
    border: 1px solid var(--orange);
    background-color: var(--orange)
}
.comp-item:nth-child(2n){
    border: 1px solid var(--orange);
    background-color: var(--white);
   
}
.comp-item:nth-child(2n+1){
    color: var( --white);

}

.comp-item:nth-child(3n) {
    border: 1px solid var( --dark-purple);
    background-color:var( --dark-purple);
}

.comp-img{
    /* margin-bottom: 25px; */
}
.comp-thumb{
 
}
.comp-thumb-title{
color: inherit;
font-weight: 600;
font-size: 14px;
line-height: 1.28;
text-transform: uppercase;

}
.comp-overlay-title{
    color:var(--black);
    margin-bottom: 8px;
}
.comp-overlay-ingredient{
    margin-bottom: 14px;
}
.comp-overlay-product{
    color:var(--white);
    border-radius:15px;
    background-color: var(--orange);
    width: auto;
    height: 24px;
    padding:6px 16px ;
}
.comp-overlay-benefits{
    color:var(--black);
    width: auto;
    height: 24px;
    padding:6px 16px;
    border: 1px solid var(--orange);
    border-radius:15px;
    
}
.comp-overlay-description{
    color: var(--black);
    overflow:hidden;
}

.comp-overlay{
    display: inline-block;
    position: absolute;
    opacity: 0;
    background-color: var(--white);
   
    border-radius: 15px;
    border-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 28px;
    transform: translateY(100%);
    transition: transform 250ms ease, opacity 1s ease;
   
}
.comp-thumb:is(:hover, :focus) .comp-overlay {
    transform: translateY(0);
    opacity: 1;
   
  }
  